<!DOCTYPE html>
<html>
<head>
  <title>Request a New Campus</title>
</head>
<body>
  <form action="/campus" method="POST">
    <label>Name</label><br>
    <input type="text" name="name" placeholder="Name"><br>
    <label>Where do you think a new campus should be created?</label><br>
    <input type="text" name="campus" placeholder="Requested Campus">
    <button type="submit">Request Campus!</button>
  </form>
</body>
</html>