<!DOCTYPE html>
<html>
<meta http-equiv="refresh" content="5; url=/" />
<head>
  <title>Thank you for your Submission!</title>
  <link rel="stylesheet" href="styles.css">

</head>
<body>
  <h1>Thank you for your submission!</h1>
</body>
</html>