<!DOCTYPE html>
<html>
<head>
  <title>Thank you for your Submission!</title>
  <link rel="stylesheet" href="styles.css">
  
</head>
<body>
  <h1>Thank you for your submission!</h1>
</body>
</html>